NODE_ENV=development
PORT=4000
CORS_ORIGIN=*

DATABASE_URL=postgresql://simrs_app:simrs@localhost:5432/simrs?schema=public
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=dev_access_secret_change_me
JWT_REFRESH_SECRET=dev_refresh_secret_change_me
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=604800

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=simrs

SWAGGER_PATH=docs

